# Local files
test_data/
key/
test/test.png
output/

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Python package distribution artifacts
*.egg
*.egg-info/
.eggs/
build/

# Python virtual environment
venv/
.env

# macOS-specific files
.DS_Store
._*
Icon?

# Firebase key and configuration
key/
*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite